.container {
    text-align: center;
    margin-top: 50px;
  }
  
  h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
  }
  
  input {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    outline: none;
  }
  
  input:focus {
    border-color: #007bff;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  li {
    margin: 5px 0;
    font-size: 18px;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  li:not(.no-matches):hover {
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .no-matches {
    color: #999;
  }
  